.container {
    padding: 0 2em 3em;

    .content {
        margin-top: 1em;
    }

    .currencyContainer {
        display: flex;
        margin-top: 1em;

        .chip {
            margin-right: 1em;
            margin-top: 0.25em;
        }

        .addBtn {
            margin-left: auto;
        }
    }

    .tab {
        .tabItem {
            text-transform: none;
            color: #222222;
            opacity: 30%;

            &.selectedTabItem {
                color: #222222;
                opacity: 100%;
                font-weight: 600;
            }
        }

        .tabIndicator {
            background-color: #21cefd;
        }
    }

}