.card {
    background-color: #01D167 !important;
    color: #fff !important;
    border-radius: 1em !important;

    .cardText {
        margin-bottom: 0.5em;
        text-align: left;

        span {
            margin-right: 1.5em;
        }
    }

    .cardHeader {
        margin-bottom: 1em;
        display: flex;

        img {
            margin-left: auto;
            width: auto;
        }
    }
}