.container {
    box-shadow: 0px 2px 12px #00000014;
    border: 1px solid #FCFCFC;
    display: flex;
    padding: 2em;

    .cardContainer {
        width: 50%;
        padding-right: 2em;

        .viewBtnContainer {
            display: flex;

        }

        .btnGroup {
            display: flex;
            background-color: #EDF3FF;
            border-radius: 1em;
            padding: 0.5em 1em;
            margin-top: 5em;

            div {
                text-align: center;
            }
        }
    }

    .statementContainer {
        width: 50%;

        .accordion {
            background-color: #F5F9FF;
            color: #0C365A;
            padding: 0;

            .accordionSummary {
                display: flex;
                justify-content: space-between;

                .accordionTitle {
                    font-size: 1.5em;
                }


            }

            .accordionDetails {
                background-color: #fff;
                

                .transaction {
                    display: flex;
                    border-bottom: 1px solid #F5F5F5;
                    padding: 1em 0;

                    .transactionDetails {
                        width: 100%;

                        .transactionTitle {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;


                        }

                        .transactionType {
                            display: flex;
                            color: #325BAF;
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }
        }
    }
}