.container {
    box-shadow: 0px 2px 12px #00000014;
    border: 1px solid #FCFCFC;
    display: flex;
    padding: 2em;

    .cardContainer {
        width: 50%;
        padding-right: 2em;

        .viewBtnContainer {
            display: flex;

        }

        .card {
            background-color: #01D167;
            color: #fff;
            border-radius: 1em;

            .cardText {
                margin-bottom: 0.5em;
                text-align: left;

                span {
                    margin-right: 1.5em;
                }
            }

            .cardHeader {
                margin-bottom: 1em;
                display: flex;

                img {
                    margin-left: auto;
                    width: auto;
                }
            }
        }

        .btnGroup {
            display: flex;
            background-color: #EDF3FF;
            border-radius: 1em;
            padding: 0.5em 1em;
            div {
                text-align: center;
            }
        }
    }

    .statementContainer {
        width: 50%;

        .accordion {
            background-color: #F5F9FF;
            color: #0C365A;
            padding: 1em;

            .accordionSummary {
                display: flex;
                justify-content: space-between;

                .accordionTitle {
                    font-size: 1.5em;
                }
            }
        }
    }
}